@charset "utf-8";
.imageSlider1 { margin:0;padding:0; height:13px; width:125px; background-image:url("../images/ptz/scrollbar.gif"); }
.imageBar1    { margin:0;padding:0; height:13px; width:10px; background-image:url("../images/ptz/speed.gif"); background-repeat:no-repeat;}
